@{
    ViewBag.Title = "Confirmación de olvido de contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Revise su correo electrónico para restablecer su contraseña.
        Por favor. 
    </p>
</div>
	
